body{
	max-width: 400px;
	background-color:#4E9455
	
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 20px;
	font-size: 50px;
}

.camera-control{
	margin-top: 200px;
}

.Registry{

}