body{
	max-width: 400px;
	background-color:#89C797
	
}

h1{
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 20px;
	font-size: 50px;
}

.camera-control{
	margin-top: 200px;
}

button .Registry{
	background-color:#D0EAD7;
}